.actions {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select {
  margin-bottom: 1.5rem;
  min-width: 160px;
}

.timer {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
