:root {
  --background: #333;
  --text: #eee;
  --medium-text: #666;
  --dark-text: #333;
  --light-text: #ccc;
  --mdc-theme-primary: #e91e63;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--background);
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2)
    format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

#app .page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding-top: 56px;
  width: 100%;
}

.control-row {
  display: flex;
  align-items: center;
}

.control-row > *:not(:first-child) {
  margin-left: 20px;
}

.icon-button {
  color: var(--mdc-theme-primary);
}

.icon-button,
.icon-button-default {
  cursor: pointer;
  font-size: 1.5rem;
}

.icon-button-large {
  font-size: 2.5rem;
  margin: -7.5px;
}

.layout-row-halved {
  display: flex;
  align-items: center;
}

.layout-row-halved > div {
  flex-grow: 1;
  width: 50%;
}

.layout-row-halved > div + div {
  border-left: solid 1px #666;
  padding-left: 20px;
}

/* Material Design Overrides */
.mdc-floating-label {
  color: var(--light-text) !important;
}
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control {
  color: var(--light-text) !important;
}
.mdc-select__native-control > option {
  color: var(--dark-text) !important;
}
.mdc-dialog {
  background: transparent;
  border: none;
}

dialog .mdc-floating-label {
  color: var(--medium-text) !important;
}
dialog .mdc-select:not(.mdc-select--disabled) .mdc-select__native-control {
  color: var(--medium-text) !important;
}
dialog .mdc-select__native-control > option {
  color: var(--dark-text) !important;
}
