.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 160px;
}

.actionBlock {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.actionLabel {
  margin-left: 0.75rem;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resuming {
  font-size: 1.25em;
  color: var(--mdc-theme-primary);
  margin-bottom: 1rem;
}

.select {
  margin-bottom: 1.5rem;
  min-width: 160px;
}

.timer {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
